.textbox
  .textbox-box
    .textbox-face.textbox-side
    .textbox-face.textbox-bottom
    .textbox-face.textbox-top
    .textbox-field
      .textbox-label Article Title
      input(type="text" placeholder="Type here...").textbox-text
    .textbox-action
      .textbox-face.textbox-side
      .textbox-face.textbox-top
      .textbox-face.textbox-bottom
      svg(viewBox="0 0 24 24")
        path(d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z")
        
a(href="https://rgb.wiki/textbox" target="_blank").reference
  img(src="https://rgb.wiki/favicon.png")