div.stage: ul.flyer
    li.flyer__page.flyer__page--6
    li.flyer__page.flyer__page--5
    li.flyer__page.flyer__page--7
    li.flyer__page.flyer__page--4
    li.flyer__page.flyer__page--8
    li.flyer__page.flyer__page--3
    li.flyer__page.flyer__page--1
    li.flyer__page.flyer__page--2